.container {
    display: flex;
    gap: 2rem;
}

.items-section {
    flex: 1 1 auto;
    min-width: 0;
}

.filters-section {
    flex: 0 0 250px;
    height: fit-content;
}

.filter-group {
    max-height: 200px;
    overflow-y: auto;
}

.space-before {
    margin-top: 1rem;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.card-item {
    flex: 1 1 calc(20% - 1rem);
    min-width: 300px;
    max-width: 400px;
    box-sizing: border-box;
}

.quantity-badge {
    border: 1px solid #1589ee;
    border-radius: 4px;
    padding: 4px 0 5px;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #1589ee;
    min-width: 24px;
    text-align: center;
    display: inline-block;
}